@{
    var isAuthenticated = Context.User.Identity.IsAuthenticated;
    var email = Context.User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value;
    var name = Context.User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value;
}
<style>
    .dropdown-item {
        border-radius: 12px;
    }
</style>
@if (isAuthenticated)
{

    <div class="dropdown" style="margin-top: -6px !important;">
        <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="display: flex; align-items: center; text-decoration: none;">
            Chào, @name!
            <i class="fa fa-caret-down" style="padding-left: 5px;"></i> <!-- Mũi tên xuống -->
        </button>
        <ul class="dropdown-menu" style="text-align: center; width: 262px; border-radius: 24px;">

            <li>
                <a class="dropdown-item" asp-action="Index" asp-controller="Account" asp-area="Customer">Xem thông tin chi tiết</a>
            </li>
            <li>
                <a class="dropdown-item" asp-action="LogOut" asp-controller="User">Log out</a>
            </li>
        </ul>
    </div>

}
else
{
    <p> <a asp-controller="User" asp-action="Login" style="color:black;">Đăng nhập</a> | <a asp-controller="User" asp-action="Register" style="color:black;">Đăng ký</a></p>
}
