@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutAdmin";
}
@model TechShop.Areas.Customer.ViewModel.ChangePasswordVM
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    .form-group {
        border: 1px solid #ccc; /* Đường viền mỏng màu xám */
        border-radius: 8px; /* Bo góc nhẹ */
        padding: 10px; /* Thêm padding xung quanh nội dung trong form */
        box-sizing: border-box; /* Đảm bảo padding không làm thay đổi kích thước tổng thể */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Bóng nhẹ */
        width: 500px; /* Đặt chiều rộng cố định cho form */
        margin: 50px auto; /* Căn giữa form theo chiều ngang, và thêm khoảng cách trên dưới */
    }
</style>

<div class="small-container">



    <form asp-action="ChangePasswordByOTP" asp-controller="Account" asp-area="Admin" method="post">
        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success">@ViewBag.Success</div>
        }
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">@ViewBag.Error</div>
        }

        <div class="form-group">
            <label for="exampleInputEmail1">Nhập mật khẩu mới để tiếp tục</label>

            <input type="password" name="NewPassword" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter new password">
            <input type="password" name="ConfirmPassword" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Confirm new password">
            <input type="hidden" value="@ViewBag.Email" name="Email" />

            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
    </form>


</div>